.section-title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;

    @mixin atSmall {
        font-size: 3.75rem;
        padding-bottom: 0;
    }

    strong {
        font-weight: 500;
    }

    &--blue {
        color: $mainBlue;
    }
}

.section-title__icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.6rem;

    @mixin atSmall {
        position: relative;
        top: 8px;
        margin-right: 0.5rem;
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;
    }

}
