.site-header {
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    transition: background-color 0.5s ease-out;

    @mixin atMedium {
        background-color: rgba(46, 85, 114, 0.3);

    }
}

.site-header--is-expanded {
    background-color: rgba(46, 85, 114, 0.55);
}

.site-header__btn-container {

    @mixin atMedium {
        float: right;
    }
}

.site-header__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 13px 29px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @mixin atMedium {
        left: auto;
        transform: translateX(0);
        padding: 25px 36px;
    }
}

.site-header__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .4s ease-out;
    z-index: -10;
    position: relative;
    padding-top: 95px;
    padding-bottom: 5px;
    text-align: center;

    @mixin atMedium {
        opacity: 1;
        z-index: 1;
        padding-top: 0;
        transform: scale(1);
    }
}

.site-header__menu-content--is-visible {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.site-header__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;

    @mixin atMedium {
        display: none;
    }
}

 .site-header__menu-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #fff;
    /* Adds a start (pivot) point for the transform rotate in below modifier --close-x (default 50% 50%, which is the center of the element, x and y) */
    transform-origin: 0 0;
    transition: transform .3s ease-out;
}

.site-header__menu-icon__middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transition: all .3s ease-out;
    transform-origin: 0 50%;
}

.site-header__menu-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
}

.site-header__menu-icon--close-x {
    .site-header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
    }
}

.site-header__menu-icon--close-x::before {
    transform: rotate(45deg) scaleX(1.2);
}

.site-header__menu-icon--close-x::after {
    transform: rotate(-45deg) scaleX(1.2);
}
